@model EmailData

<!-- Start Author Area  -->
<partial name="_AuthorArea" />
<!-- End Author Area  -->

        <!-- Start Post List Wrapper  -->
        <div class="axil-post-list-area mt-3 bg-color-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-8">
                        <!-- Start About Area  -->
                        <div class="axil-about-us">
                            <!-- Start Contact Form  -->
                            <div class="axil-section-gapTop axil-contact-form-area">
                                <h4 class="title mb--10">Send Me a Message</h4>
                                <p class="b3 mb--30">Feel like reaching out? Send me an email! Your email address will not be published. All the fields are required.</p>
                                 <form asp-action="EmailMe" asp-controller="Home" method="post">
                                    <div class="row row-cols-1 g-3">
                                        <div class="col col-6">
                                            <label asp-for="@Model.EmailAddress" class="form-label">Your Email Address</label>
                                            <input type="text" class="form-control" asp-for="@Model.EmailAddress" />
                                        </div>
                                        <div class="col col-6">
                                            <label asp-for="@Model.EmailSubject" class="form-label">Subject</label>
                                            <input type="text" class="form-control" asp-for="@Model.EmailSubject" />
                                        </div>
                                        <div class="col">
                                            <label asp-for="@Model.EmailBody" class="form-label">Message:</label>
                                            <textarea class="form-control" rows=10 asp-for="@Model.EmailBody" required></textarea>
                                        </div>
                                        <div class="col text-end">
                                            <button class="btn btn-primary rounded-pill btnlinks" type="submit">Send</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <!-- End Contact Form  -->
                        </div>
                        <!-- End About Area  -->
                    </div>
                    <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                        <!-- Start Sidebar Area  -->
                            <partial name="_SideBar" />                        
                        <!-- End Sidebar Area  -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Post List Wrapper  -->
