
<!-- Start Author Area  -->
<partial name="_AuthorArea" />
<!-- End Author Area  -->

        <!-- Start Post List Wrapper  -->
        <div class="axil-post-list-area axil-section-gap bg-color-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 col-xl-8">
                        <!-- Start About Area  -->
                        <div class="axil-about-us">
                            <!-- Start Contact Form  -->
                            <div class="axil-section-gapTop axil-contact-form-area">
                                <h4 class="title mb--10">Send Us a Message</h4>
                                <p class="b3 mb--30">Your email address will not be published. All the fields are required.</p>
@*                                 <form asp-action="EmailContact" asp-controller="Contacts" method="post">
                                    <input type="hidden" asp-for="@Model.EmailData.GroupName" />
                                    <div class="row row-cols-1 row-cols-md-2 g-3 mb-3">
                                        <div class="col col-md-12">
                                            <label asp-for="@Model.EmailData.EmailAddress" class="form-label">To:</label>
                                            <textarea type="email" readonly class="form-control" asp-for="@Model.EmailData.EmailAddress" rows="3"></textarea>
                                        </div>
                                    </div>
                                    <div class="row row-cols-1 g-3">
                                        <div class="col">
                                            <label asp-for="@Model.EmailData.EmailSubject" class="form-label">Subject:</label>
                                            <input type="text" class="form-control" asp-for="@Model.EmailData.EmailSubject" />
                                        </div>
                                        <div class="col">
                                            <label asp-for="@Model.EmailData.EmailBody" class="form-label">Message:</label>
                                            <textarea class="form-control" rows=10 asp-for="@Model.EmailData.EmailBody" required></textarea>
                                        </div>
                                        <div class="col text-end">
                                            <button class="btn btn-primary rounded-pill btnlinks" type="submit">Send</button>
                                        </div>
                                    </div>
                                </form>
*@                            </div>
                            <!-- End Contact Form  -->
                        </div>
                        <!-- End About Area  -->
                    </div>
                    <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                        <!-- Start Sidebar Area  -->
                            <partial name="_SideBar" />                        
                        <!-- End Sidebar Area  -->
                    </div>
                </div>
            </div>
        </div>
        <!-- End Post List Wrapper  -->
