@model DailyRoarBlog.Models.ViewModels.BlogPostCategoryViewModel

@using DailyRoarBlog.Services.Interfaces
@using DailyRoar.Services.Interfaces
@using DailyRoarBlog.Enums
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@using X.PagedList.Web.Common;

@inject IImageService _ImageService
@inject IBlogPostService _BlogPostService

<!-- Start Author Area  -->
<div class="axil-author-area axil-author-banner bg-color-grey">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="about-author">
                    <div class="media">
                        <div class="thumbnail">
                            <a href="#">
                                <img src="@_ImageService.ConvertByteArrayToFile(Model.Category!.ImageData!, Model.Category!.ImageType!,(int)DefaultImage.CategoryImage)" alt="Category Images">
                            </a>
                        </div>
                        <div class="media-body">
                            <div class="author-info">
                                <h1 class="title"><a href="#">@Model.Category!.Name</a></h1>
                            </div>
                            <div class="content">
                                <p class="b1 description">@Model.Category!.Description</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Author Area  -->

<!-- Start Post List Wrapper  -->
<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="page-title">
                    <h2 class="title mb--40">Articles in @Model.Category!.Name Category</h2>
                </div>
            </div>

            <div class="col-lg-8 col-xl-8">
                @foreach (BlogPost post in Model.Posts!)
                {
                          <partial name="_BlogCard" model="@post"/>
                }
                <div>
                    @Html.PagedListPager(Model.Posts, pageNum => Url.Action("Details", new { pageNum, id = Model.Category!.Id}),
                    new PagedListRenderOptions
                    {
                        LiElementClasses = new string[] {"my-page-item"}, 
                        PageClasses = new string[] {"my-page-link"}
                    })
                </div>
            </div>

            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40">
                <partial name="_SideBar" />
            </div>

        </div>
    </div>
</div>
<!-- End Post List Wrapper  -->