@model DailyRoarBlog.Models.BlogPost

@using DailyRoarBlog.Services.Interfaces
@using DailyRoar.Services.Interfaces
@using DailyRoarBlog.Enums

@inject IImageService _ImageService
@inject IBlogPostService _BlogPostService

<div class="axil-post-list-area axil-section-gap bg-color-white">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-xl-4 mt_md--40 mt_sm--40 order-last">
            <partial name="_SideBar" />
            </div>
            <div class="col-lg-8 col-xl-8">
               <b class="categoryHeader"> @Html.DisplayFor(model => model.Category!.Name)</b>
                <div class="page-title">
                    <h2 class="title mb-20">@Html.DisplayFor(model => model.Title)</h2>
                </div>
                <ul class="post-meta-list">
                     <li class="headerDate">@Model.Created.ToString("MMM dd, yyyy")</li>
                     <li class="headerDate">@Model.Comments.Count Comments</li>
               </ul>
               <hr />
                <p>@Html.DisplayFor(model => model.Abstract)</p>
                 <a asp-controller="BlogPosts" asp-action="Details" asp-route-slug="@Model.Slug">
                 <img class="detailsImage" src="@_ImageService.ConvertByteArrayToFile(Model.ImageData!, Model.ImageType!,(int)DefaultImage.BlogPostImage)" alt="Post Images" />
                 </a>
                 <div>
                   <p>@Html.Raw(Model.Content)</p>
                   <div class="tagcloud mb-2">@foreach (Tag tag in Model.Tags)
                        {
                            <a asp-controller="Tags" asp-action="Details" asp-route-id="@tag.Id">@tag.Name</a>
                        } 
                        <ul class="post-meta-list">
                        <li class="headerDate text-end">@Model.Comments.Count Comments</li>
                        </ul>
                    </div>
                   <hr />
                   <div class="axil-comment-area">

                     <!-- Start Comment Area  -->

                     <partial name="_CommentPartial" model="@Model"/>

                     <!-- End Comment Area  -->

                   </div>
            </div>
            </div>
            </div>
        </div>
    </div>

    @section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

            <script src="~/ckeditor5/build/ckeditor.js"></script>

            <script>
                ClassicEditor
                    .create(document.querySelector('.editor'), {
                        licenseKey: '',
                    })
                    .then(editor => {
                        window.editor = editor;
                    })
                    .catch(error => {
                        console.error('Oops, something went wrong!');
                        console.error('Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:');
                        console.warn('Build id: xx09iayzufkn-lkt434h3lx2z');
                        console.error(error);
                    });
            </script>
}